:root {
    --border-radius: 5px;
    --glow-hue: 222deg;
    --shadow-hue: 180deg;
    --spring-easing: linear(0, 0.002, 0.01 0.9%, 0.038 1.8%, 0.156, 0.312 5.8%, 0.789 11.1%, 1.015 14.2%,
            1.096, 1.157, 1.199, 1.224 20.3%, 1.231, 1.231, 1.226, 1.214 24.6%,
            1.176 26.9%, 1.057 32.6%, 1.007 35.5%, 0.984, 0.968, 0.956, 0.949 42%,
            0.946 44.1%, 0.95 46.5%, 0.998 57.2%, 1.007, 1.011 63.3%, 1.012 68.3%,
            0.998 84%, 1);
    --spring-duration: 1.33s;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('/images/background.jpeg.jpeg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: none;
}

.rm a{
    width: 100%;
    height: 100%;
    background-color: black;
    
}
.cursor{
    z-index: 999;
    background: #082439;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events:none;
    box-shadow: 0 0 20px #082439,
                0 0 20px #082439,
                 0 0 20px #082439;
    animation: colors 5s infinite;
    position:fixed;
    transform: translate(-50%, -50%);
    display: none;
}

@keyframes colors{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.cursor::before{
     content:'';
     position: absolute;
     background: #082439;
     width: 50px;
     height: 50px;
     opacity: 0.2;
     transform: translate(-30%,-30%);
     border-radius: 50%;
    
}

header, footer {
    background: transparent;
    padding: 20px;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 20px;
}

h1 {
    font-size: 4.5vw;
    position: relative;
    color:rgb(182, 170, 170);
    -webkit-text-stroke: 0.1vw #383d52;
}

h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    color:black;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid rgb(215, 211, 211);
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0%,
    25%,
    100% {
        width: 0;
    }

    75%,
    90% {
        width: 100%;
    }
}

.header-icon {
    width: 50px;
    height: 50px;
}

main {
    flex-grow: 1;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    cursor:none;
}

main form {
    margin-top: 100px;
    cursor: none;
    display: flex;
    justify-content: center;
}

.srch {
    height: 25px;
    display: flex;
    cursor: none;
    padding: 20px;
    background-color: rgb(237, 229, 235);
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: width 0.8s; /* Added transition for smooth shrinking */
}

.srch input {
    width: 0px;
    outline: none;
    border: none;
    font-weight: 500;
    transition: width 0.8s; /* Transition only the width */
    background: transparent;
    color: black;
    font-style: italic;
    font-size: 18px;
    cursor: none;
}

.srch input.expanded {
    width: 600px;
}

.srch a .fas {
    color: black;
    font-size: 18px;
}


button[type="submit"],
.result div a {
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: var(--border-radius);
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    width: 100vw;
    cursor: none;
    font-style: italic;
}

form input[type="text"] {
    flex-grow: 1;
}

footer {
    color: black;
    font-weight: bold;
    padding: 20px;
    text-align: left;
    font-size: 20px;
}



.glass p {
    margin-top: 10px;
}

.glass p[class="partofspeech"] {
    font-style: italic;
    color: #808080;
    margin-top: 2px;
}

.glass div {
    margin-top: 20px;
}

.glass div a {
    text-decoration:none;
    
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
    border-radius: 10px;
    box-shadow: df0 3px 3px 3px #082439;
}

.glass li {
    padding: 4px;
    margin-left: 20px;
}

.glass {
    position: absolute;
    width: 750px;
    
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

@media screen and (max-width: 320px) {
    main form {
        flex-direction: column;
    }

    form button[type="submit"] {
        margin-left: 0px;
        margin-top: 10px;
    }
}

/* button */
@property --shimmer {
    syntax: "<angle>";
    inherits: false;
    initial-value: 33deg;
}

@keyframes shimmer {
    0% {
        --shimmer: 0deg;
    }

    100% {
        --shimmer: 360deg;
    }
}

@keyframes shine {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    55% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes text {
    0% {
        background-position: 100% center;
    }

    100% {
        background-position: -100% center;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    color: var(--bg);
    font-weight: 600;
    background-image: linear-gradient(315deg, #ffc4ec -10%, #efdbfd 50%, #ffedd6 110%);
    padding: .8em 1.4em;
    position: relative;
    isolation: isolate;
    box-shadow: 0 2px 3px 1px hsl(var(--glow-hue) 50% 20% / 50%), inset 0 -10px 20px -10px hsla(var(--shadow-hue), 10%, 90%, 95%);
    border-radius: 0.66em;
    scale: 1;
    transition: all var(--spring-duration) var(--spring-easing);
    cursor:none;
}

button:hover:not(:active),
button.active {
    transition-duration: calc(var(--spring-duration) * 0.5);
    scale: 1.2;
    box-shadow: 0 4px 8px -2px hsl(var(--glow-hue) 50% 20% / 50%), inset 0 0 0 transparent;
}

button:active {
    scale: 1.1;
    transition-duration: calc(var(--spring-duration) * 0.5);
}

.shimmer {
    position: absolute;
    inset: -40px;
    border-radius: inherit;
    mask-image: conic-gradient(from var(--shimmer, 0deg), transparent 0%, transparent 10%, black 36%, black 45%, transparent 50%, transparent 60%, black 85%, black 95%, transparent 100%);
    mask-size: cover;
    mix-blend-mode: plus-lighter;
    animation: shimmer 1s linear infinite both;
}

button:hover .shimmer::before,
button:hover .shimmer::after,
button.active .shimmer::before,
button.active .shimmer::after {
    opacity: 1;
    animation: shine 1.2s ease-in 1 forwards;
}

.shimmer::before,
.shimmer::after {
    transition: all 0.5s ease;
    opacity: 0;
    content: "";
    border-radius: inherit;
    position: absolute;
    mix-blend-mode: color;
    inset: 40px;
    pointer-events: none;
}

.shimmer::before {
    box-shadow: 0 0 3px 2px hsl(var(--glow-hue) 20% 95%),
        0 0 7px 4px hsl(var(--glow-hue) 20% 80%),
        0 0 13px 4px hsl(var(--glow-hue) 50% 70%),
        0 0 25px 5px hsl(var(--glow-hue) 100% 70%);
    z-index: -1;
}

.shimmer::after {
    box-shadow: inset 0 0 0 1px hsl(var(--glow-hue) 70% 95%),
        inset 0 0 2px 1px hsl(var(--glow-hue) 100% 80%),
        inset 0 0 5px 2px hsl(var(--glow-hue) 100% 70%);
    z-index: 2;
}

button .text {
    background-clip: text;
    background-color: var(--bg);
    background-image: linear-gradient(120deg, transparent, hsla(var(--glow-hue), 100%, 80%, 0.66) 40%, hsla(var(--glow-hue), 100%, 90%, .9) 50%, transparent 52%);
    background-repeat: no-repeat;
    background-size: 300% 300%;
    background-position: center 200%;
}

button:hover .text,
button.active .text {
    animation: text .66s ease-in 1 both;
}

button {
    margin-left: 20px;
    color: black;
}
